{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        h2{
            text-align: center;
        }
        p{
            margin-left: 50px;
            font-size: large;
            font: bolder;
        }
    </style>
</head>
<body>
    <h2>Information about House Price Prediction Value</h2>
<p>
longitude: A measure of how far west a house is; a higher value is farther west <br>

latitude: A measure of how far north a house is; a higher value is farther north <br>

housingMedianAge: Median age of a house within a block; a lower number is a newer building <br>

totalRooms: Total number of rooms within a block <br>

totalBedrooms: Total number of bedrooms within a block <br>

population: Total number of people residing within a block <br>

households: Total number of households, a group of people residing within a home unit, for a block <br>

medianIncome: Median income for households within a block of houses (measured in tens of thousands of US Dollars) <br>


oceanProximity: Location of the house w.r.t ocean/sea <br>

</p>

</body>
</html>


{% endblock %}